[submodule "gene-interact/gene-interact/GenePT"]
	path = gene-interact/gene-interact/GenePT
	url = https://github.com/yiqunchen/GenePT
[submodule "gene-interact/gene-interact/scGPT"]
	path = gene-interact/gene-interact/scGPT
	url = https://github.com/bowang-lab/scGPT
